html{
    font-size: 13.333333333333vw;
}
body{
    margin: 0;padding: 0;
}
.header{
    width: 100vw;height: 1.8rem;
    background: #ff0036;
}
.header .info{
    width: 7.02rem;height: 0.88rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header .info .left{
    width: 0.6rem;height: 0.6rem;
    background: url("../image/phone-tmall/small.jpg") no-repeat 0.05rem;
    margin-top: 0.14rem;
}

.header .info .center{
    width: 2.37rem;height: 0.41rem;
    margin-top: 0.24rem;
    background: url("../image/phone-tmall/logo.jpg") no-repeat;
}
.header .info .right{
    width: 0.56rem;height: 0.6rem;
    margin-top: 0.24rem;
    font-size: 0.28rem;
    color: #ffffff;
}

.header .search{
    width: 7.1rem;height: 0.72rem;
    background: #ffffff;
    border-radius: 0.1rem;
    margin: 0 auto;
    position: relative;
}
.header .search .icon{
    width: 0.3rem;height: 0.32rem;
    position: absolute;
    top: 0.2rem; left: 0.3rem;
    background: url("../image/phone-tmall/search.jpg") no-repeat;
    background-size: 0.3rem 0.32rem;
}
.header .search span{
    line-height: 0.72rem;
    position: absolute;
    font-size: 0.28rem;
    color: rgba(0,0,0,.3);
    left: 0.7rem;
}

.category{
    width: 100vw;
    height: 1.548rem;
    display: flex;
    justify-content: center;
}
.category .icon{
    width: 1.4rem;height: 100%;
    font-size: 0.26rem;
}
.category .icon img{
    width: 0.96rem;height: 0.96rem;
    margin: 0.1rem 0.22rem 0.1rem;
}
.category .icon span{
    display: block;
    width: 1.4rem;height: 0.296rem;
    text-align: center;
    color: #000000;
}

/*轮播图*/
.lb{
    width: 7.02rem; height: 2.64506rem;
    margin : 0.2rem auto;
    position: relative;
}
.lb a{
    display: block;
    width: 100%;height: 100%;
    margin: 0;padding: 0;
    position: absolute;
}
.lb .lbt{
    width: 100%;height: 100%;
    position: absolute;
    z-index: 1;
}

.lb .choose{
    width: 2rem; height: 0.05rem;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0.1rem;
    left: 2rem;
}
.lb .choose .btn{
    background: rgba(0,0,0,0.5);
    width:0.35rem;height: 0.05rem;
    z-index: 2;
}

/*广告*/
.advice{
    width: 7.5rem; height: 3.6rem;
}
.advice img{
    width: 100%; height: 100%;
}

/*限时抢购*/

.flash{
    width: 7.02rem;height: 5.26rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }
.flash .list{
    width: 3.45rem;height: 2.57rem;
    background: #f5f5f5;
}
.flash .top{
    width: 3.25rem;height: 0.43rem;
    margin: 0.1rem auto;
}
.flash .top span{
    width: 1.28rem;height: 0.32rem;
    line-height: 0.32rem;
    font-weight: 700;
    display: inline-block;
    float: left;
    margin: 0.1rem auto;
    font-size: 0.32rem;
}
.flash .bottom{
    width: 3.44rem;height: 1.55rem;
    display: flex;
    justify-content: space-around;
    margin: 0.2rem auto;
}
.flash .bottom img{
    width: 1.55rem;height: 1.55rem;
}
.flash .list .desc{
     width: 3rem;height: 0.2rem;
     margin: -0.2rem auto;
    color: #ff0036;
    font-size: 0.2rem;
 }
.flash .list .desc .s1{
    display: inline-block;
    float: left;
    margin-left: 0.2rem;
    border: 1px solid red;
}
.flash .list .desc .s2{
    display: inline-block;
    float: right;
    border: 1px solid red;
}

.top-sale{
    width: 100%;height: 9.36rem;
}
.top-sale .title{
    width: 7.02rem;height: 0.6rem;
    margin: .1rem auto;
}
.top-sale .title span{
    line-height: 0.6rem;
    display: inline-block;
    font-size: 0.36rem;
    float: left;
    font-weight: 700;
}
.top-sale .shop-list{
    width: 7.14rem;height: 2.99rem;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.top-sale .left,.top-sale .center,.top-sale .right{
    background: #f6f6f6;
    z-index: 3;
}
.top-sale .shop-list .img{
     width: 1.46rem;height: 1.46rem;
     justify-content: space-between;
     position: absolute;
     background: #e6e6e6;
    z-index:5;
 }
.top-sale .shop-list .img1{
    top: 0.26rem;
    right: 0.4rem;
}
.top-sale .shop-list .img2{
    top: 0.46rem;
    right: 0.4rem;
}
.top-sale .left{
    width: 2.26rem;height: 2.73rem;
    margin-top: 0.26rem;
    position: relative;
}
.top-sale .center{
    width: 2.26rem;height: 2.99rem;
    position: relative;
}
.top-sale .right{
    width: 2.26rem;height: 2.73rem;
    position: relative;
    margin-top: 0.26rem;
}
.top-sale .shop-list .desc{
    width: 2.08rem;height: 0.36rem;
    background: url("../image/phone-tmall/top/background.jpg") no-repeat;
    position: absolute;
    bottom: 0.52rem;right: 0.09rem;
}
.top-sale .shop-list .desc span{
     display: block;
     line-height: 0.36rem;
     color: #ffffff;
     font-size: 0.22rem;
     text-align: center;
 }
.top-sale .shop-list .popularity{
    display: block;
    color: #000000;
    font-size: 0.24rem;
    text-align: center;
    position: absolute;
    bottom: 0.16rem;
    left: 0.3rem;
}
.top-sale .icon{
    position: absolute;
    width: 0.63rem ;height: 0.51rem;
    z-index: 6;
}

.people-top1{
    width: 7.02rem;height: 1.69rem;
    background: #f6f6f6;
    margin: 0.2rem auto;
}
.people-top1 .left{
    width: 1.68rem;height: 100%;
    background: url("../image/phone-tmall/top/yello.jpg") no-repeat;
    float: left;
    margin: 0 0 0 0.2rem;
}
.people-top1 .left .title{
    font-size: 0.22rem;
    display: block;
    width: 0.66rem; height:0.36rem;
    line-height: 0.36rem;
    margin-left: 0.1rem ;
    margin-top: 0rem;
    color: white;
}
.people-top1 .left .desc{
    font-size: 0.24rem;
    font-weight: 600;
    display: block;
    line-height: 0.36rem;
    margin-left: 0;
    color: #313131;
}
.people-top1 .left .sales{
    font-size: 0.24rem;
    display: block;
    line-height: 0.4rem;
    margin-left: 0;
    color: #999999;
}
.people-top1 .right{
     width: 4.22rem;height: 1.3rem;
     float: right;
     margin-top: 0.2rem;
     overflow: hidden;
 }
.people-top1 .right .box{
    width: 4.22rem;height: 1.3rem;
}
.people-top1 .right .goods{
    width: 1.3rem;height: 1.3rem;
    float: left;
    margin-right: 0.1rem;
    position: relative;
}
.people-top1 .right .goods .shop{
    width: 100%;height: 100%;
    position: absolute;
    z-index: 7;
}
.people-top1 .right .goods .small{
     width: 0.43rem;height: 0.43rem;
     position: absolute;
     z-index: 8;
 }

.people-top2 {
    width: 7.02rem;height: 3.5rem;
    margin: 0.2rem auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.people-top2 .list{
    width: 3.45rem;height: 1.69rem;
    background: #f6f6f6;
}
.people-top2 .list .left{
    width: 1.92rem;height: 1.342rem;
    float: left;
    margin: 0.15rem 0 0 0.2rem;
}
.people-top2 .left .title{
    font-size: 0.22rem;
    display: block;
    width: 0.66rem; height:0.36rem;
    line-height: 0.36rem;
    margin: 0;
    color: #c89d6b;
}
.people-top2 .left .line{
    display: block;
    width: 0.22rem; height:0.03rem;
    margin: 0.1rem 0 0.1rem 0;
    background: #e3e3e3;
}
.people-top2 .left .desc{
    font-size: 0.24rem;
    font-weight: 600;
    display: block;
    line-height: 0.36rem;
    margin-left: 0;
    color: #313131;
}
.people-top2 .left .sales{
    font-size: 0.24rem;
    display: block;
    line-height: 0.4rem;
    margin-left: 0;
    color: #999999;
}
.people-top2 .list .right{
    width: 1.1rem;height: 1.1rem;
    float: right;
    margin-top: 0.3rem;
}
.people-top2 .list .right img{
    width: 1.1rem;height: 1.1rem;
}

.like{
    width: 100%; height: 50rem;
}
.like .title{
    width: 7.02rem;height: 0.6rem;
    margin: .1rem auto;
}
.like .title span{
    width: 1.58rem;height: 0.36rem;
    line-height: 0.36rem;
    font-weight: 700;
    display: inline-block;
    float: left;
    margin: 0.1rem auto;
    font-size: 0.36rem;
}
.like .row1{
    width: 100%;height: 5.54rem;
    background: url("../image/phone-tmall/like/background.jpg") no-repeat;
    background-size:100% 2.94rem;
    display: flex;
    justify-content: space-around;
}
.like .row2{
    width: 100%;height: 6.22rem;
    display: flex;
    justify-content: space-around;
}
.like .row3,.like .row4{
    width: 100%;height: 6.22rem;
    display: flex;
    justify-content: space-around;
    margin-top: 0.1rem;
}
.like .row5,.like .row6,.like .row7{
    width: 100%;height: 5.54rem;
    background-size:100% 2.94rem;
    display: flex;
    justify-content: space-around;
    margin-top: 0.1rem;
}
.like .shop{
    width: 3.4rem;height: 5.34rem;
    border: 2px solid #f0f0fa;
    box-sizing: border-box;
    margin-top: 0.1rem;
    position: relative;
}
.like .shop .shop-img{
    width: 3.36rem;height: 3.36rem;
    background: rgba(0, 0, 0, 0.03);;
    margin: 0;
    z-index: 11;
}
.like .shop .shop-img img{
    width: 2.76rem;height: 2.76rem;
    margin: 0.3rem 0.3rem;
}
.like .shop .brand{
    height: 0.35rem;
    display: block;
    background: #cda3b1;
    color: #ffffff;
    line-height: 0.35rem;
    text-align: center;
    font-size: 0.2rem;
    position: absolute;
    top: 3.2rem;left: 0.2rem;
    z-index: 12;
}
.like .row1 .shop .brand1{
    width: 0.7rem;
}
.like .row1 .shop .brand2{
    width: 1.1rem;
}
.like .row3 .shop .brand1{
    width: 1.1rem;
}
.like .row4 .shop .brand1{
     width: 1rem;
 }
.like .row5 .shop .brand1{
    width: 1.1rem;
}
.like .row5 .shop .brand2{
    width: 0.7rem;
}
.like .row6 .shop .brand1{
    width: 1.1rem;
}
.like .row6 .shop .brand2{
    width: 1.0rem;
}
.like .row7 .shop .brand1{
    width: 0.8rem;
}
.like .row7 .shop .brand2{
    width: 0.8rem;
}
.like .shop .info{
    width: 3.36rem;height: 1.34rem;
    position: relative;
   z-index: 11;
}
.like .shop .info .desc{
    display: block;
    width: 2.96rem;height: 0.72rem;
    margin: 0.2rem auto;
    font-size: 0.28rem;
    overflow: hidden;
}
.like .shop .info .coupons{
    width: auto;height: 0.3rem;
    display: inline-block;
    font-size: 0.22rem;
    line-height: 0.30rem;
    position: absolute;
    color: #ff0036;
    border: 1px solid #ff0036;
    bottom: 0.2rem;left: 0.2rem;
}
.like .shop .info2{
    width: 3.4rem;height: 0.6rem;
    position: absolute;
    bottom: 0;
}
.like .shop .info2 .price{
    display: inline-block;
    width: auto;height: 0.56rem;
    color: #ff0000;
    font-size: 0.36rem;
    font-weight: 600;
    line-height: 0.56rem;
    float: left;
    margin-left: 0.2rem;
}
.like .shop .info2 .similar{
    display: inline-block;
    width: 1.1rem;height: 0.46rem;
    color: #ff0036;
    font-size: 0.22rem;
    border-radius: 0.5rem;
    text-align: center;
    line-height: 0.46rem;
    background: #ffe6eb;
    float: right;
    margin-top: 0.06rem;
    margin-right: 0.2rem;
}

.like .active img{
    width: 3.44rem;height: 6.11rem;
    margin-top: 0.1rem;
}