html{
    font-size: 26.66666666vw;
}
body{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.header{
    width: 3.75rem;
    height: 0.44rem;
    background: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-left{
    width: 0.3rem;
    height: 0.35rem;
    background: url("../imgs/1.jpg") no-repeat ;
    background-size: cover;
}
.header img{
    width: 1.2rem;
    height: 0.3rem;
}
.header-right{
    width: 0.3rem;
    height: 0.3rem;
    font-size: 0.14rem;
}
.header-right a{
    color: white;
}
.header2{
    width: 100%;
    height: 0.44rem;
    background: red;
}
.search{
    width: 3.6rem;
    height: 0.35rem;
    margin: auto;
    background: #ffffff;
    display: flex;
    align-items: center;
}
.search-icon{
    width: 0.4rem;
    height: 0.4rem;
    background: url("../imgs/1.jpg") no-repeat -1rem ;
    background-size: cover;
}
.search-text{
    font-size: 14px;
    color: #ccc;
}
.list{
    width: 100%;
    height: 0.76rem;
    display: flex;
    justify-content: space-around;
}
.list-box{
    width: 0.7rem;
    height: 100%;
}
.list-box img{
    width: 0.5rem;
    height: 0.5rem;
    float: left;
    margin-left: 0.1rem;
}
.list-box-item{
    width: 100%;
    height: 0.2rem;
    float: left;
    font-size: 14px;
    text-align: center;
}
.lb{
    width: 100%;
    height: 1.33rem;
}
.lunbo{
    width: 100%;
    height: 1.33rem;
    float: left;
    position: relative;
}
.banner{
    width: 3.5rem;
    height: 100%;
    position: absolute;
    left: 0.125rem;
}
.banner1{
    background: url("../imgs/l1.jpg");
    background-size: cover;
}
.banner2{
    background: url("../imgs/l2.jpg");
    background-size: cover;
}
.banner3{
    background: url("../imgs/l3.jpg");
    background-size: cover;
}
.banner4{
    background: url("../imgs/l4.jpg");
    background-size: cover;
}
.btns{
    width: 1rem;
    height: 0.1rem;
    position: absolute;
    left: 2.5rem;
    top: 1.2rem;
}
.btn{
    width: 20%;
    height: 100%;
    background: white;
    float: left;
}
.blank{
    width: 100%;
    height: 0.15rem;
}
.ad{
    width: 100%;
    height: 1.8rem;
}
.ad a{
    width: 100%;
    height: 100%;
    float: left;
}
.ad a img{
    width: 100%;
    height: 100%;
}
.ad2{
    width: 100%;
    height: 2.73rem;
}
.ad2-d{
    width: 3.5rem;
    height: 2.63rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.adver{
    width: 1.73rem;
    height: 1.285rem;
    background: url("../imgs/adver.jpg");
    background-size: cover;
}
.ad-a{
    width: 100%;
    height: .16rem;
    float: left;
    margin-top: 0.15rem;
    font-size: 0.14rem;
    text-align: center;
}
.ad-b{
    width: 100%;
    height: 0.78rem;
    float: left;
}
.iim{
    width: 0.70rem;
    height: 0.775rem;
    float: left;
    margin-left: 0.05rem;
    margin-right: 0.05rem;
}
.im{
    width: 50%;
    height: 1rem;
    float: left;
}
.jr{
    font-size: 0.14rem;
    float: left;
    text-align: center;
    width: 100%;
    height: 0.225rem;
    color: red;
    box-sizing: border-box;
    border: 1px solid red;
}
.bd{
    width: 100%;
    height: 4.57rem;
}
.bd-1{
    width: 3.5rem;
    height: 0.296rem;
    margin: auto;
}
.bd-1 span{
    width: 100%;
    height: 100%;
    float: left;
    text-align: left;
    line-height: 100%;
    font-size: 0.2rem;
    margin-top: 0.08rem;
    font-weight: bold;
}
.bd-2{
    width: 3.57rem;
    height: 1.5rem;
    margin: auto;
}
.bd-one{
    width: 1.13rem;
    height: 1.365rem;
    float: left;
    position: relative;
    margin-left: 0.05rem;
}

.bd-one-1{
    width: 0.315rem;
    height: 0.255rem;
}
.bd-one-1 img{
    width: 0.315rem;
    height: 0.255rem;
    float: left;
}
.db-one-2{
    width: 0.73rem;
    height: 0.73rem;
    position: absolute;
    left: 0.2rem;
}
.db-one-2 img{
    width: 0.73rem;
    height: 0.73rem;
    float: left;
}
.bd-one-3{
    width: 100%;
    height: 0.18rem;
    position: absolute;
    top:1rem ;
    font-size: 0.14rem;
    background: blue;
    color: white;
    text-align: center;
}
.bd-one span{
    width: 100%;
    height: 0.176rem;
    position: absolute;
    top: 1.2rem;
    font-size: 0.12rem;
    text-align: center;
}
.bd-3{
    width: 3.5rem;
    height: 0.845rem;
    margin: auto;
    margin-top: 0.05rem;
}
.bd-3-left{
    width: 0.84rem;
    height: 0.845rem;
    float: left;
}
.bd-3-1{
    width: 0.46rem;
    height: 0.215rem;
    background: url("../imgs/bd-3.1.jpg") no-repeat;
    background-size: cover;
}
.bd-3-1 a{
    color: white;
    font-size: 0.14rem;
    float: left;
}
.bd-3-2{
    width: 100%;
    height: 0.184rem;
    float: left;
    font-size: 0.12rem;
    font-weight: bold;
}
.bd-3-3{
    width: 100%;
    height: 0.184rem;
    float: left;
    font-size: 0.12rem;
    color: #ccc;
}
.bd-3-right{
    width: 2.11rem;
    height: 0.65rem;
    float: right;
    margin-top: 0.1rem;
}
.r1{
    width: 0.65rem;
    height: 0.65rem;
    float: left;
}
.r1 img{
    width: 0.65rem;
    height: 0.65rem;
    float: left;
}
.bd-4{
    width: 3.5rem;
    height: 1.8rem;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.bd4-1{
    width: 1.72rem;
    height: 0.845rem;
}
.bd-left{
    width: 0.96rem;
    height: 0.663rem;
    float: left;
    font-size: 0.12rem;
}
.bd-right{
    width: 0.55rem;
    height: 0.55rem;
    float: left;
    margin-top: 0.15rem;
}
.bl-1{
    width: 0.5rem;
    height: 0.2rem;
    float: left;
    color: darkorange;
}
.bl-2{
    width: 100%;
    height: 0.2rem;
    float: left;
    margin-top: 0.15rem;
}
.bl-3{
    width: 100%;
    height: 0.2rem;
    float: left;
}
.bd-right img{
    width: 100%;
    height: 100%;
    float: left;
}
.cai{
    width: 3.5rem;
    height: 0.296rem;
    margin: auto;
    font-size: 0.2rem;
    font-weight: bold;
}
.tail{
    width: 100%;
    height: 2.77rem;
    display: flex;
    justify-content: space-between;
}
.tail-l{
    width: 50%;
    height: 100%;
}
.tail-l img{
    float: left;
    height: 1.38rem;
    width: 1.38rem;
    margin-left: .2rem;
}
.tl-1{
    width: 0.4rem;
    height: 0.18rem;
    font-size: 0.12rem;
    margin-left: 0.1rem;
    background: darkorange;
    float: left;
    color: #ffffff;
}
.tl-2{
    width: 80%;
    height: 0.45rem;
    float: left;
    font-size: 0.15rem;
    margin-left: 0.1rem;

}
.tl-3{
    width: 0.45rem;
    height: 0.18rem;
    font-size: 0.11rem;
    margin-left: 0.1rem;
    float: left;
    color: red;
    border: 1px solid red;
}
.tl-4{
    width: 100%;
    height: 0.3rem;
    float: left;
}
.tl-4 span{
    width: 1rem;
    height: 100%;
    font-size: .15rem;
    color: red;
    float: left;
    margin-left: 0.2rem;
}
.rig{
    width: 0.5rem;
    float: right;
    height: 0.25rem;
    background: lightpink;
    color: red;
    font-size: 0.14rem;

}