body{
    padding: 0;
    margin: 0;
}
ul li{
    padding: 0;
    margin: 0;
    font-weight: normal;
    list-style: none;
}
html{
    font-size: 26.6666666vw;
}
* a{
    text-decoration: none;
}
/*导航*/
.nav{
    width: 3.75rem;
    height: 0.44rem;
    background-color: rgb(255,0,54);
    position: relative;
}
.nav-box{
    width: 3.55rem;
    height: 0.44rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.caidan1{
    width: 0.3rem;
    height: 0.3rem;
    overflow: hidden;
}
.caidan{
    width: 3rem;
    height: 0.3rem;
    float: left;
}
.logo{
    width: 1.18rem;
    height: 0.2rem;
}
.login{
    font-size: 0.14rem;
    color: #ffffff;
}
/*搜索栏*/
.search{
    width: 3.75rem;
    height: 0.46rem;
    background-color: rgb(255,0,54);

    display: flex;
    justify-content: space-around;
    align-items:flex-start;
}
.search-box{
    width: 3.55rem;
    height: 0.36rem;
    background-color: #fff;
    border-radius: 0.04rem;
    display: flex;
}
.glass{
    width: 0.15rem;
    height: 0.16rem;
    margin: 0.1rem 0.1rem 0 0.1rem;
    float: left;
}
.search-text{
    width: 0.98rem;
    height: 0.375rem;
    font-size: 0.14rem;
    line-height: 0.375rem;
    color: rgba(0,0,0,0.3);
    float: left;
    align-items: start;
}
/*分类*/
.classify{
    width: 3.75rem;
    height: 0.765rem;
    display: flex;
    justify-content: space-around;

}
.classify-box{
    width: 3.55rem;
    height: 0.765rem;
    display: flex;
    justify-content: space-between;
}
.classify a {
    width: 0.7rem;
    height: 0.765rem;
    box-sizing: border-box;
    text-decoration: none;
}
.classify-img{
    width: 0.48rem;
    height: 0.48rem;
    margin: 0.05rem  0.11rem 0.02rem 0.11rem;
    float: left;
}
.classify-text{
    width: 0.7rem;
    height: 0.145rem;
    font-size: 0.13rem;
    text-align: center;
    color: #000;
    float: left;
    margin-top: 0.06rem;
}
/*轮播图*/
.carousel{
    width: 3.75rem;
    height: 1.32rem;
    display: flex;
    margin-top: 0.1rem;
}
.carousel a{
    display: block;
    width: 3.51rem;
    height: 100%;
    margin: auto;
    position: relative;
}
.pic1{
    width:100%;
    height: 1.32rem;
    background: url("../images/carousel/1.webp") no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.pic2{
    width:100%;
    height: 1.32rem;
    background: url("../images/carousel/2.webp") no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
}
.pic3{
    width:100%;
    height: 1.32rem;
    background: url("../images/carousel/3.webp") no-repeat;
    background-size: cover;
    position: relative;
    float: left;
}
.pic4{
    width:100%;
    height: 1.32rem;
    background: url("../images/carousel/4.webp") no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
}
.pic5{
    width:100%;
    height: 1.32rem;
    background: url("../images/carousel/5.webp") no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
}
.pic6{
    width:100%;
    height: 1.32rem;
    background: url("../images/carousel/6.webp") no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
}
.but{
    width: 1rem;
    height: 0.02rem;
    position: absolute;
    bottom: 0.05rem;
    z-index: 2;
    display: flex;
    margin-left: 1.2rem;
}
.btn{
    width: 0.16rem;
    height: 0.02rem;
    background-color: rgba(255,255,255,.5);
    float: left;
    margin-right: 0.08rem;
}
.but1{
    background-color: #fff;
}
.new{
    width: 3.75rem;
    height: 1.8rem;
    margin-top: 0.14rem;
}
.new-img{
    width: 100%;
    height: 100%;
}
/*限时抢购*/
.time{
    width: 100%;
    height: 2.73rem;
    display: flex;
    justify-content: space-around;

}
.time-box{
    width: 3.51rem;
    height: 2.63rem;
    margin-top: .1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.time-box1{
    width: 1.72rem;
    height: 1.28rem;
    float: left;
    background-color: rgb(247,247,247);

}
.time-box1 a{
    text-decoration: none;
}
.time-box1-top{
    display: block;
    width: 1.5rem;
    height: 0.16rem;
    font-size: 0.16rem;
    color: rgb(32,32,32);
    font-weight: bold;
    margin-left: 0.1rem;
    margin-top: 0.1rem;

}
.time-box1-bottom{
    width: 1.72rem;
    height: 0.77rem;
    margin-top: 0.1rem;
    display: flex;
    justify-content: space-around;
}
.time-box1-bottom-left{
    display: block;
    width: 0.77rem;
    height: 0.77rem;
    position: relative;

}
.time-box1-bottom-left-img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.time-box1-bottom-left-text{
    display: block;
    width: 0.45rem;
    height: 0.12rem;
    border: 1px red solid;
    box-sizing: border-box;
    color: red;
    font-size: 0.1rem;
    position: absolute;
    z-index: 2;
    bottom:0;
    left: 0.16rem;
    background-color: #fff;
}
.list{
    width: 3.75rem;
    height: 4.575rem;
    margin-top: 10px;
}.list-title{
    display: block;
    width: 3.51rem;
    height: 0.296rem;
    font-size: 0.18rem;
    color: #333333;
    margin: auto;
    font-weight: bold;
 }
 .list-trend{
     width: 3.57rem;
     height: 1.5rem;
     margin: auto;
     margin-bottom: 0.06rem ;
     display: flex;
     justify-content: space-between;
     align-items: flex-end;
 }

 .list-trend-box2{
     width: 1.13rem;
     height: 1.49rem;
     box-sizing: border-box;
     position: relative;
     display: flex;
     justify-content: space-around;
     align-items: flex-start;
     background-color: rgb(242,232,232);
     background-image: url("../images/list/beijing.webp");
     background-repeat: no-repeat;
 }
 .list-trend-box1-logo{
     width: 0.315rem;
     height: 0.255rem;
     position: absolute;
     top: 0;
     z-index: 2;
     left: 0.06rem;
 }
.list-trend-box1{
    width: 1.13rem;
    height: 1.365rem;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgb(242,232,232);
    background-image: url("../images/list/beijing.webp");
    background-repeat: no-repeat;
}
.list-trend-box1-clothes{
    width: 0.73rem;
    height: 0.73rem;
    background-color: rgba(235,255,255,.3);
    position: absolute;
    z-index: 1;
    top:0.17rem;
}
.list-trend-box2-clothes{
    width: 0.73rem;
    height: 0.73rem;
    background-color: rgba(235,255,255,.3);
    position: absolute;
    z-index: 1;
    top:0.22rem;
}
.list-trend-box1-name{
    width: 1.04rem;
    height: 0.18rem;
    background: url("../images/list/5.webp") no-repeat;
    background-size: cover;
    text-align: center;
    position: absolute;
    left: 0.04rem;
    bottom: 0.24rem;
}
.list-trend-box2-name{
    width: 1.04rem;
    height: 0.18rem;
    background: url("../images/list/5.webp") no-repeat;
    background-size: cover;
    text-align: center;
    position: absolute;
    left: 0.04rem;
    bottom: 0.24rem;
}
.list-trend-box1-name-text{
    display: block;
    font-size: .11rem;
    color: #fff;
    margin:auto;
}
.hot{
    display: block;
    width: 0.8rem;
    height: 0.17rem;
    text-align: center;
    color: #000;
    font-size: 0.12rem;
    position: absolute;
    bottom: 0.05rem;
}
.list-popular{
    width: 3.51rem;
    height: 0.845rem;
    margin: 0.07rem 0.12rem 0 0.12rem ;
    position: relative;
    background-color: rgb(248,248,248);
}
.list-popular-logo{
    width: 0.46rem;
    height: 0.215rem;
    position: absolute;
    left: 0.13rem;
    top: 0px;
    background: url("../images/list/p1.webp") no-repeat center;
    background-size: cover;
}
.list-popular-logo-text{
    display: block;
    width: 0.33rem;
    height: 0.176rem;
    margin: auto;
    text-align: center;
    font-size: 0.11rem;
    line-height: 0.21rem;
    color: #ffffff;
}
.list-popular-description-top{
    display: block;
    width: 0.96rem;
    height: 0.184rem;
    font-size: 0.12rem;
    line-height: 0.18rem;
    color: rgb(49,49,49);
    text-align: center;
    font-weight: 600;
    position: absolute;
    left: 0.13rem;
    top: 0.25rem;
}
.list-popular-description-bottom{
    display: block;
    width: 0.7rem;
    height: 0.18rem;
    font-size: 0.12rem;
    color: #999999;
    position: absolute;
    left: 0.13rem;
    top: 0.42rem;
}
.list-popular-carousel{
    width: 2.11rem;
    height: 0.65rem;
    float: right;
    margin-top: 0.1rem;
    position: relative;
}
.list-popular-list{
    width: 3.5rem;
    height: 1.8rem;
    margin-top: 0.1rem;
    margin-left: 0.12rem;
    margin-right: 0.12rem;
    display: flex;
   justify-content: space-between;
    flex-wrap: wrap;
}
.list-popular-list-box{
    width: 1.72rem;
    height: 0.845rem;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
}
.picc{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(248,248,248);
}
.picc1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.picc2{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.lunbo1{
    width: 0.65rem;
    height:0.65rem;
    float: left;
    position: relative;
}
.lunbo1-cloths{
    width: 0.65rem;
    height: 0.65rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.lunbo1-logo{
    width: 0.215rem;
    height: 0.215rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.list-popular-list-box-left{
    width: 0.77rem;
    height: 0.66rem;
    margin-left: 0.13rem;
}
.renqi{
    display: block;
    width: 0.4rem;
    height: 0.22rem;
    font-size: 0.11rem;
    line-height: 0.22rem;
    color: rgb(200,157,107);
}
.list-popular-list-box-right{
    display: block;
    width: 0.55rem;
    height: 0.55rem;
    background-color: rgb(240,240,240);
    margin-right: 0.01rem;
}
.hengxian{
    width: 0.11rem;
    height: 0.01rem;
    margin-top: 0.02rem;
    margin-bottom: 0.06rem;
    background-color: #e3e3e3;
}
.list-popular-list-box-left-name{
    display: block;
    width: 0.96rem;
    height: 0.18rem;
    color: #313131;
    font-size: 0.12rem;
    font-weight: 600;
}
.list-popular-list-box-left-sell{
    display: block;
    width: 0.6rem;
    height: 0.18rem;
    font-size: 0.12rem;
    color: #999999;
}
.like-text{
    width: 3.51rem;
    height: 0.3rem;
    font-size: 0.18rem;
    color: rgb(51,51,51);
    font-weight: bold;
    margin: 0.1rem 0.12rem 0rem 0.12rem;
}
.like-list{
    width: 3.75rem;

    background: url("../images/like/1.webp") no-repeat;
    background-size: 3.75rem 1.74rem;

}
.like-list-1{
    width: 3.53rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.like-list-box{
    width: 1.7rem;
    height: 2.77rem;
    margin-top: 0.05rem;
    position: relative;
    background-color: #fff;
    border:1px solid rgb(237,237,237);
    box-sizing: border-box;
}
.like-list-1-beijing{
    width: 1.68rem;
    height: 1.68rem;
    position: relative;
    z-index: 0;
    background-color: rgba(0,0,0,0.03);
}
.like-list-1-clothes{
    display: block;
    width: 1.38rem;
    height: 1.38rem;
    position: absolute;
    top: 0.15rem;
    left: 0.15rem;
    z-index: 1;

}
.like-list-1-brand{
    width: 0.4rem;
    height: 0.18rem;
    background-color: rgb(205,163,177);
    position: absolute;
    left: 0.1rem;
    top: 1.59rem;
    z-index: 2;
    font-size: 0.1rem;
    color: #fff;
    text-align: center;
    line-height: 0.18rem;

}
.like-list-1-name{
    width: 1.48rem;
    height: 0.36rem;
    margin: auto;
    margin-top: 0.14rem;
    margin-bottom: 0.02rem;
    font-size: 0.14rem;
    text-align: left;
    color: rgb(62,62,62);
    overflow: hidden;
    text-overflow: ellipsis;
}
.like-list-1-youhui{
    width: 0.315rem;
    height: 0.14rem;
    margin-left: 0.1rem;
    margin-top: 0.1rem;
    border: 1px red solid;
    box-sizing: border-box;
    font-size:  0.11rem;
    line-height: 0.11rem;
    text-align: center;
    color: red;
}
.like-list-1-price{
    height: 0.28rem;
    margin-top: 0.06rem;
    margin-left: 0.1rem;
    font-size: 0.16rem;
    color: red;
    font-weight: 600;
}
.xiangsi{
    width: 0.51rem;
    height: 0.23rem;
    background-color: rgb(255,230,235);
    border-radius: 0.1175rem;
    position: absolute;
    right: 0.07rem;
    bottom: 0.08rem;
    color: red;
    text-align: center;
    line-height: 0.23rem;
    font-size: 0.11rem;
}

.like-list-1-tu{
    width: 100%;
    height: 100%;
}